<!--<td>
  <%= track.id %>
</td>-->

<td>
  <%= track.escape('position') %>
</td>

<td>
  <%= track.escape('title') %>
</td>

<td>
  <%= track.escape('artist') %>
</td>

<td>
  <%= track.escape('album') %>
</td>

<td>
  <%= track.escape('genre') %>
</td>

<% if (track.isRemovedFromPlaylist) { %>
  <td>
    <span>Removed</span>
  </td>
<% } else { %>
  <td>
    <a class="remove-link" href="#">Remove from playlist</d>
  </td>
<% } %>