= paginator.render do
  .pagination
    .pagination-prev-first
      = prev_page_tag
      = first_page_tag
    .pagination-pages
      - each_page do |page|
        - if page.left_outer? || page.right_outer? || page.inside_window?
          = page_tag page
        - elsif !page.was_truncated?
          = gap_tag
    .pagination-next-last
      = next_page_tag
      = last_page_tag