<%= form_for @playlist, :html => { :class => "playlist-form" } do |form| %>
  <%= form.text_field :title, :placeholder => "Title", :autocomplete => "off" %>

  <%= form.submit "Create" %>
<% end %>

<div class="playlist-tracks-wrapper"></div>

<%= form_tag tracks_path, :method => :get, :class => "tracks-search-form" do %>
  <%= text_field_tag :query, "", :placeholder => "Title", :autocomplete => "off" %>
    
  <%= submit_tag "Search by" %>

  <%= select_tag :field, "<option>title</option><option>artist</option><option>album</option><option>genre</option>".html_safe %>
<% end %>

<div class="tracks-search-wrapper"></div>