<%= form_for @playlist, :html => { :id => "playlist-form", :class => "form form-inline" } do |form| %>
  <%= form.text_field :title, :placeholder => "Title" %>

  <%= form.submit "Done", :class => "btn btn-primary" %>
<% end %>

<div id="extended-playlist"></div>

<div style="border-top: 1px solid #444; margin: 10px 0px;"></div>

<%= form_tag tracks_path, :method => :get, :id => "tracks-search-form", :class => "form form-inline" do %>
  <%= text_field_tag :query, "", :placeholder => "Title" %>

  <%= hidden_field_tag :field, "title", :id => "field" %>
    
  <div class="btn-group">
    <%= submit_tag "Search by title", :id => "search-button", :class => "btn" %>
    
    <%= button_tag :class => "btn dropdown-toggle", :"data-toggle" => "dropdown" do %>
      <span class="caret"></span>
    <% end %>
    
    <ul id="fields-list" class="dropdown-menu">
      <li><a data-search="title" href="#">Title</a></li>
      <li><a data-search="artist" href="#">Artist</a></li>
      <li><a data-search="album" href="#">Album</a></li>
      <li><a data-search="genre" href="#">Genre</a></li>
    </ul>
  </div>
<% end %>

<div id="tracks-search-wrapper"></div>