<div class="nav-wrapper">
  <ul class="nav">
    <li class="nav-item"><%= link_to "Home", home_path %></li>
    <li class="nav-item"><%= link_to "List tracks", tracks_path %></li>
    <li class="nav-item"><%= link_to "Upload tracks", new_track_path %></li>
    <li class="nav-item"><%= link_to "List playlists", playlists_path %></li>
    <li class="nav-item"><%= link_to "New playlist", new_playlist_path %></li>
  </ul>
</div>