.nav-wrapper
  %ul.nav
    = nav_link 'Home', 'static_pages', 'home'
    = nav_link 'Tracks', 'tracks', 'index'
    = nav_link 'Upload tracks', 'tracks', 'new'
    = nav_link 'Playlists', 'playlists', 'index'
    = nav_link 'New playlist', 'playlists', 'new'
    = nav_link 'Live', 'static_pages', 'live'
.nav-push