<div class="nav-wrapper">
  <ul class="nav">
    <%= nav_link "Home", "static_pages", "home" %>
    <%= nav_link "List tracks", "tracks", "index" %>
    <%= nav_link "Upload tracks", "tracks", "new" %>
    <%= nav_link "List playlists", "playlists", "index" %>
    <%= nav_link "New playlist", "playlists", "new" %>
  </ul>
</div>

<div class="nav-push"></div>