<div class="nav-wrapper">
  <ul class="nav">
    <%= nav_link "Home", home_path %>
    <%= nav_link "List tracks", tracks_path %>
    <%= nav_link "Upload tracks", new_track_path %>
    <%= nav_link "List playlists", playlists_path %>
    <%= nav_link "New playlist", new_playlist_path %>
  </ul>
</div>

<div class="nav-push"></div>