<!DOCTYPE html>
<html>
  <head>
    <title>Kigendan</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <% if params[:controller] == 'sessions' %>
      <%= yield %>
    <% else %>
      <div class="wrapper">
        <%= render "layouts/nav" %>

        <div class="container">
          <%= yield %>
        </div>

        <div class="footer-push"></div>
      </div>

      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
