!!!
%html
  %head
    %title #{yield :title}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/nav'
    .container
      - if notice
        .alert.alert-success 
          %button{ :type => 'button', :class => 'close', :'data-dismiss' => 'alert'} &times;
          = notice
      - if alert
        .alert.alert-error
          %button{ :type => 'button', :class => 'close', :'data-dismiss' => 'alert'} &times;
          = alert
      = yield